.row{
    height:150px;
    width:100%;
    display:flex;
    justify-content: space-around
}
.column{
    background-color: rgb(231 231 231);
    min-height: 100%;
    height: fit-content;
    width: 23%;
    border: 10px;
}